*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("garden.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Quicksand', cursive;
}

h1 {
  display: flex;
  font-size: 60px;
  font-family: 'Bitter', serif;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px black;
}

#M {
  color: #FFCB05;
  padding: 0px 2px;
  margin-left: 1.4vw;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#output {
  width: 100%;
  text-align: center;
}

.food-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.food {
  border-radius: 100%;
  background: white;
  color: rgba(60, 47, 47, 1.0);
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

.food p {
  margin: 0px;
  font-size: 1.5vw;
  width: 96%;
}

.food p:nth-child(2) {
  margin-bottom: 2vw;
}

.food p:nth-child(4) {
  margin-bottom: 2vw;
}


#spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  color: white;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media only screen and (max-width: 700px) {
  body {
      font-size: 3vw;
  }
  h1 {
    font-size: 7vw;
  }
  .footer {
    font-size: 2.5vw;
    bottom: 6vw;
  }
  .food-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .food {
    width: 25vw;
    height: 25vw;
  }
  .food p {
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 500px) {
  body {
      font-size: 3.5vw;
  }
  h1 {
    font-size: 7vw;
  }
  .footer {
    font-size: 2.5vw;
    bottom: 6vw;
  }
  .food-wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .food {
    width: 40vw;
    height: 40vw;
  }
  .food p {
    font-size: 3.5vw;
  }
}
