*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("garden.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3.5vw;
  color: #F0F0F0;
}

h1 {
  display: flex;
  font-size: 4.5vw;
  font-family: 'Bitter', serif;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px black;
}

#M {
  color: #FFCB05;
  padding: 0px 2px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', cursive;
}

form p {
  margin: 0;
}

.date p {
  padding: 20px 0px;
}
.date {
  display: flex;
}

input,
input::-webkit-input-placeholder {
  height: 3.5vw;
  border-radius: 20px;
  margin: 0px 10px;
  font-size: 2.5vw;
  color: #404040;
}

#food_input {
  min-width: 4vw;
  text-align: center;
}

#start_input,
#end_input {
  min-width: 5.5vw;
  text-align: right;
}

#submit_input {
  border: none;
  background: none;
  font-size: 7vw;
  cursor: pointer;
  border-radius: 100%;
}

span {
  color: #FFCB05;
  text-shadow: 2px 2px #D0D0D0;
}

span:hover {
  color: yellow;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.7);
}

.footer {
  text-align: center;
  font-size: 1.5vw;
  position: absolute;
  bottom: 3vw;
  width: 100%;
  height: 1vw;
  padding-left: 5vw;
}

.footer a {
  color: white;
  margin: 0px 10px;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 5.5vw;
  }
  h1 {
    font-size: 7vw;
  }
  .footer {
    font-size: 2.5vw;
    bottom: 6vw;
  }
  span {
    color: #FFCB05;
    text-shadow: 1px 1px #D0D0D0;
  }
  input,
  input::-webkit-input-placeholder {
    height: 5.2vw;
    border-radius: 20px;
    margin: 0px 10px;
    font-size: 3.9vw;
    color: #404040;
  }
  #food_input {
    width: 55vw;
    text-align: center;
  }
  #start_input,
  #end_input {
    min-width: 6.5vw;
    text-align: right;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }

  .date {
    display: inline;
  }
  .date p:last-child {
    padding-top: 0px;
  }
}