*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --h1-margin-top-bottom: 6vh;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("garden.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  height: 100%;
  /* grid-template-rows: auto 1vh; */

  margin: 0px;
  font-size: 30px;
  text-align: center; 
  align-items: center;
  color: #F0F0F0;
  font-family: 'Quicksand', cursive;
}

body div:first-child {
  align-self: start;
  flex: 1;
  width: 100%;
}

.footer {
  text-align: center;
  align-self: end;
  font-size: 1.5vw;
  width: 100%;
}

.far:hover {
  cursor: pointer;
}


h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Bitter', serif;
  text-shadow: 2px 2px black;
  margin-top: var(--h1-margin-top-bottom);
  margin-bottom: var(--h1-margin-top-bottom);
}

div#M {
  color: #FFCB05;
  padding: 0px 2px;
  margin-left: 1.4vw;
  flex: 0;
}

.food, .date {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: var(--h1-margin-top-bottom); */
  /* margin-bottom: var(--h1-margin-top-bottom); */
}

form p {
  margin: 0;
}

.date p {
  padding: 20px 0px;
}
.date {
  display: flex;
  justify-content: center;
}

input,
input::-webkit-input-placeholder {
  height: 35px;
  border-radius: 20px;
  margin: 0px 10px;
  font-size: 24px;
  color: #404040;
}

#food_input {
  width: 350px;
  text-align: center;
}

#start_input,
#end_input {
  min-width: 5.5vw;
  text-align: right;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

#submit_input {
  border: none;
  background: none;
  font-size: 7vw;
  cursor: pointer;
  border-radius: 100%;
}

span {
  margin-top: 2vh;
  font-size: 65px;
  color: #FFCB05;
  text-shadow: 2px 2px #D0D0D0;
}

span:hover {
  color: yellow;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.7);
}

.footer a {
  color: white;
  margin: 0px 10px;
}
.footer p {
  margin-bottom: 1vh;
  display: flex;
}

.footer a:first-child, .footer a:last-child {
  flex: 1;
  text-align: start;
}

.footer a:first-child {
  text-align: end;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 5.5vw;
  }
  h1 {
    font-size: 7vw;
  }
  .footer {
    font-size: 2.5vw;
  }
  span {
    color: #FFCB05;
    text-shadow: 1px 1px #D0D0D0;
  }
  input,
  input::-webkit-input-placeholder {
    height: 5.2vw;
    border-radius: 20px;
    margin: 0px 10px;
    font-size: 3.9vw;
    color: #404040;
  }
  #food_input {
    width: 55vw;
    text-align: center;
  }
  #start_input,
  #end_input {
    min-width: 6.5vw;
    text-align: right;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }

  .date {
    display: inline;
  }
  .date p:last-child {
    padding-top: 0px;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size: 18px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  color: black;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}