
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The MDiner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bitter|Merriweather|Quicksand" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
</head>

<body>
  <h1>
    The
    <div id="M">M</div>Diner</h1>
  <br>
  <a id="home" href="/">Return Home</a>
  <br>
  <br>
  <div id="output">
    <div id="spinner"></div>
    {% for item in results %}
    <a href="{{item[0]}}" target="_blank"
      class="food">
      <p>{{item[1]}}</p>
      <p>{{item[2]}}</p>
      <p>{{item[3]}}</p>
      <p>{{item[4]}}</p>
    </a>
    {% endfor %}
  </div>
  <!-- <script type="text/javascript">
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ url_for('searcher') }}?q={{search}}&start={{start}}&end={{end}}');
    xhr.send();
    function handleNewData() {
        console.log(xhr.responseText);
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
          clearInterval(timer);
        }
    }, 200);

  </script> -->
  <script type="text/javascript">
    function postData(input) {
      {
        $.post("/search?q={{search}}&start={{start}}&end={{end}}", {},
          function callbackFunc(response) {

            output = document.getElementById("output");
            spinner = document.getElementById("spinner");
            output.removeChild(spinner);
            output.innerHTML = "";
            var div = document.createElement("div");
            div.classList.add("food-wrapper")
            output.appendChild(div);

            res = JSON.parse(response);
            if (res.length == 0) {
              var wrapper = document.createElement("a");
              wrapper.href = "/";
              wrapper.classList.add("food")
              var par = document.createElement("p");
              par.innerHTML = "Sorry we don't have what you want :(";
              wrapper.appendChild(par);
              div.appendChild(wrapper);
            }
            for (var r = 0; r < res.length; ++r) {
              var wrapper = document.createElement("a");
              console.log(res[r]);
              wrapper.href = res[r][0];
              wrapper.target = "_blank";
              wrapper.classList.add("food")
              for (var d = 1; d < res[r].length; ++d) {
                var par = document.createElement("p");
                par.appendChild(document.createTextNode(res[r][d]));
                wrapper.appendChild(par);
              }
              div.appendChild(wrapper);
            }
          }).fail(function (xhr) {
          output = document.getElementById("output");
          spinner = document.getElementById("spinner");
          output.removeChild(spinner);
          output.innerHTML = "";
          var div = document.createElement("div");
          div.classList.add("food-wrapper")
          output.appendChild(div);

          var wrapper = document.createElement("a");
          wrapper.href = "/";
          wrapper.classList.add("food")
          var par = document.createElement("p");
          par.innerHTML = "Sorry we don't have what you want :(";
          wrapper.appendChild(par);
          div.appendChild(wrapper);

          // document.getElementById("output").innerHTML =
          //   "Server Timed Out :( Please try again with a shorter day range!";
          //  console.log(xhr.status);
          //  console.log("failed");
        });
      }
    }
    postData();
  </script>
</body>

</html>